<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%=title%> To-Do List</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/main.css">
</head>
<header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills mt-3 apply-color">
        <li class="nav-item px-2">
            <a href="/home" aria-current="page" class="nav-link nav-menu">Home</a>
        </li> 
        <li class="nav-item px-2">
            <a href="/work" class="nav-link nav-menu">Work</a>
        </li>
    </ul>
    <script src="headernav.js" charset="UTF-8"></script>
</header>

