<%-include("partials/header.ejs") %>

    <body>
        <div class="container">
            <div class="todoApp">
                <div class="heading">
                    <h1>
                        <%= date %>
                    </h1>
                    <h2>What do you need to get done today?</h2>
                </div>

                <form action="/addtodo" method="post">
                    <input type="text" id="newTodo" name="todo" placeholder="Add to-do..." />
                    <button type="submit" value="Submit">
                        <img src="/images/plus_button.svg" alt="plus button">
                    </button>
                </form>

                <div class="todo-list">
                    <% if(locals.tasks){ %>
                        <% tasks.forEach(task=> { %>
                            <form action="/deletetodo" method="post">
                                <li>
                                    <input type="checkbox" id="check" name="checkbox" class="check-size check" onChange="this.form.submit()"
                                        value="<%= task._id %>" />
                                    <label for="check" class="strikethrough">
                                        <%= task.todo %>
                                    </label>
                                </li>
                            </form>
                            <% }) %>
                                <% } %>
                </div>
            </div>
        </div>
    </body>