<%-include("partials/header.ejs") %>

    <body>
        <div class="container">
            <div class="todoApp">
                <div class="heading">
                    <h1>
                        <%= date %>
                    </h1>
                    <h2>What do you need to get done today?</h2>
                </div>

                <form action="/addtodo" method="post">
                    <input type="text" id="newTodo" name="todo" placeholder="Add to-do..." />
                    <button type="submit" value="Submit">
                        <img src="/images/plus_button.svg" alt="plus button">
                    </button>
                </form>

                <div class="todo-list">
                    <% if(locals.tasks){ %>
                        <% for(var i=0; i < tasks.length; i++){ %>
                            <li>
                                <input type="checkbox" name="check" class="check-size check" value="<%= tasks[i].todo %>" />
                                <label for="check" class="strikethrough">
                                    <%= tasks[i].todo %>
                                </label>
                            </li>
                            <% } %>
                                <% } %>
                </div>
            </div>
        </div>
    </body>